body {
    background-color: #1a1a1b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}



.calculator {
    background-color: #26262b;
    padding: 25px;
    border-radius: 25px;
    width: 320px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.display-container {
    background-color: transparent;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.history-preview {
    color: #888;
    font-size: 18px;
    margin-bottom: 5px;
    min-height: 24px; 
}


#display {
    width: 100%;
    background: transparent;
    color: #fff;
    border: none;
    font-size: 48px; 
    text-align: right;
    padding: 0;
    outline: none;
}

.grid-container { display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px; }

button {
    aspect-ratio: 1/1;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

button:active { background-color: #444; transform: scale(0.95); }

.text-yellow { color: #ffd700; }
.equal-btn { background-color: #f4511e; color: white; }
